In [4]:
import yfinance as yf
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt

tickers = yf.Tickers("GOOG")

In [6]:
a=yf.download("MSFT",dt.date.today()-dt.timedelta(36500),dt.date.today(),interval='1d')
print(a)

c:\Users\KILightTouch\Desktop\RandomOdyssey\venv\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  \
Date
1986-03-13    0.088542    0.101563    0.088542    0.097222    0.059947
1986-03-14    0.097222    0.102431    0.097222    0.100694    0.062087
1986-03-17    0.100694    0.103299    0.100694    0.102431    0.063158
1986-03-18    0.102431    0.103299    0.098958    0.099826    0.061552
1986-03-19    0.099826    0.100694    0.097222    0.098090    0.060482
...                ...         ...         ...         ...         ...
2024-08-21  424.079987  426.399994  421.720001  424.140015  424.140015
2024-08-22  424.359985  426.790009  414.609985  415.549988  415.549988
2024-08-23  416.980011  419.260010  412.089996  416.790009  416.790009
2024-08-26  416.369995  417.279999  411.339996  413.489990  413.489990
2024-08-27  412.859985  414.359985  410.250000  413.839996  413.839996

                Volume
Date
1986-03-13  1031788800
1986-03-14   308160000
1986-03-17   133171200
1986-03-18    67766400
1986-03-19    47894400
...                ...
2024-08-21    16067300
2024-08-22    19361900
2024-08-23    18493800
2024-08-26    13152800
2024-08-27    13473900

[9692 rows x 6 columns]

In [51]:
ticker="irm"
stock_info = yf.Ticker(ticker)
stockPrice=yf.download(ticker,start=dt.date.today()-pd.to_timedelta("7300d"), end=dt.date.today(),interval='1d')
print(stockPrice)

c:\Users\KILightTouch\Desktop\RandomOdyssey\venv\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  \
Date
2004-09-07   19.100431   19.309919   19.008011   19.285275    8.038087
2004-09-08   19.162046   19.334566   19.081947   19.272951    8.032952
2004-09-09   19.285275   19.500923   19.223660   19.260628    8.027812
2004-09-10   19.322243   19.661121   19.285275   19.593346    8.166490
2004-09-13   19.654961   19.993839   19.531731   19.907579    8.297462
...                ...         ...         ...         ...         ...
2024-08-26  113.989998  114.790001  113.070000  113.400002  113.400002
2024-08-27  112.699997  114.930000  112.449997  114.839996  114.839996
2024-08-28  113.980003  114.699997  111.629997  112.300003  112.300003
2024-08-29  112.300003  113.400002  111.209999  111.989998  111.989998
2024-08-30  112.459999  113.489998  111.019997  113.260002  113.260002

             Volume
Date
2004-09-07   453466
2004-09-08   376211
2004-09-09   630211
2004-09-10   355275
2004-09-13   650012
...             ...
2024-08-26  1311300
2024-08-27  1174300
2024-08-28  1429600
2024-08-29  1064300
2024-08-30  2390400

[5031 rows x 6 columns]

In [52]:
print(stock_info.capital_gains)

Series([], dtype: object)

c:\Users\KILightTouch\Desktop\RandomOdyssey\venv\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

In [ ]:
stockPrice["Open"].plot()
plt.show()

In [53]:
stock_hist=stock_info.history(period="max")
stock_hist

c:\Users\KILightTouch\Desktop\RandomOdyssey\venv\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1996-02-01 00:00:00-05:00,1.236482,1.236482,1.217460,1.226971,13718164,0.0,0.0
1996-02-02 00:00:00-05:00,1.226971,1.236482,1.217459,1.236482,3828860,0.0,0.0
1996-02-05 00:00:00-05:00,1.236482,1.236482,1.217459,1.217459,908190,0.0,0.0
1996-02-06 00:00:00-05:00,1.217459,1.236482,1.217459,1.217459,509419,0.0,0.0
1996-02-07 00:00:00-05:00,1.217459,1.236482,1.217459,1.217459,366453,0.0,0.0
...,...,...,...,...,...,...,...
2024-08-26 00:00:00-04:00,113.989998,114.790001,113.070000,113.400002,1311300,0.0,0.0
2024-08-27 00:00:00-04:00,112.699997,114.930000,112.449997,114.839996,1174300,0.0,0.0
2024-08-28 00:00:00-04:00,113.980003,114.699997,111.629997,112.300003,1429600,0.0,0.0
2024-08-29 00:00:00-04:00,112.300003,113.400002,111.209999,111.989998,1064300,0.0,0.0
2024-08-30 00:00:00-04:00,112.459999,113.489998,111.019997,113.260002,2390400,0.0,0.0

In [54]:
stock_hist['Dividends']

Date
1996-02-01 00:00:00-05:00    0.0
1996-02-02 00:00:00-05:00    0.0
1996-02-05 00:00:00-05:00    0.0
1996-02-06 00:00:00-05:00    0.0
1996-02-07 00:00:00-05:00    0.0
                            ...
2024-08-26 00:00:00-04:00    0.0
2024-08-27 00:00:00-04:00    0.0
2024-08-28 00:00:00-04:00    0.0
2024-08-29 00:00:00-04:00    0.0
2024-08-30 00:00:00-04:00    0.0
Name: Dividends, Length: 7194, dtype: float64

In [58]:
stock_info.financials

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Tax Effect Of Unusual Items,-39611264.0,7106220.0,-8790880.0,11545139.0,NaN
Tax Rate For Calcs,0.176,0.11,0.28,0.079,NaN
Normalized EBITDA,1843691000.0,1808965000.0,1782683000.0,1322856000.0,NaN
Total Unusual Items,-225064000.0,64602000.0,-31396000.0,146141000.0,NaN
Total Unusual Items Excluding Goodwill,-225064000.0,64602000.0,-31396000.0,146141000.0,NaN
Net Income From Continuing Operation Net Minority Interest,184234000.0,556981000.0,450219000.0,342693000.0,NaN
Reconciled Depreciation,793018000.0,745639000.0,696970000.0,669445000.0,NaN
Reconciled Cost Of Revenue,2340941000.0,2171076000.0,1870681000.0,1739966000.0,NaN
EBITDA,1618627000.0,1873567000.0,1751287000.0,1468997000.0,NaN
EBIT,825609000.0,1127928000.0,1054317000.0,799552000.0,NaN
Net Interest Income,-585932000.0,-488014000.0,-417961000.0,-418535000.0,NaN
Interest Expense,598403000.0,496290000.0,425302000.0,426847000.0,NaN
Interest Income,12471000.0,8276000.0,7341000.0,8312000.0,NaN
Normalized Income,369686736.0,499485220.0,472824120.0,208097139.0,NaN
Net Income From Continuing And Discontinued Operation,184234000.0,556981000.0,450219000.0,342693000.0,NaN
Total Expenses,4370246000.0,4057292000.0,3590210000.0,3358626000.0,NaN
Rent Expense Supplemental,NaN,NaN,795802000.0,731679000.0,697330000.0
Total Operating Income As Reported,921778000.0,1049871000.0,854172000.0,934785000.0,NaN
Diluted Average Shares,293965000.0,292444177.0,290975000.0,288643000.0,NaN
Basic Average Shares,291936000.0,290812000.0,289457000.0,288183000.0,NaN
Diluted EPS,0.63,1.9,1.55,1.19,NaN
Basic EPS,0.63,1.92,1.56,1.19,NaN
Diluted NI Availto Com Stockholders,184234000.0,556981000.0,450219000.0,342693000.0,NaN
Net Income Common Stockholders,184234000.0,556981000.0,450219000.0,342693000.0,NaN
Net Income,184234000.0,556981000.0,450219000.0,342693000.0,NaN
Minority Interests,-3029000.0,-5168000.0,-2506000.0,-403000.0,NaN
Net Income Including Noncontrolling Interests,187263000.0,562149000.0,452725000.0,343096000.0,NaN
Net Income Discontinuous Operations,NaN,NaN,0.0,0.0,104000.0
Net Income Continuous Operations,187263000.0,562149000.0,452725000.0,343096000.0,NaN
Tax Provision,39943000.0,69489000.0,176290000.0,29609000.0,NaN
Pretax Income,227206000.0,631638000.0,629015000.0,372705000.0,NaN
Other Income Expense,-296905000.0,73370000.0,145655000.0,2596000.0,NaN
Other Non Operating Income Expenses,-71841000.0,8768000.0,177051000.0,-143545000.0,NaN
Special Income Charges,-188265000.0,2918000.0,-47149000.0,146141000.0,NaN
Gain On Sale Of Ppe,12825000.0,93268000.0,172041000.0,363537000.0,NaN
Other Special Charges,NaN,671000.0,NaN,69937000.0,NaN
Write Off,NaN,NaN,NaN,34411000.0,19389000.0
Impairment Of Capital Assets,NaN,0.0,0.0,23000000.0,0.0
Restructuring And Mergern Acquisition,201090000.0,89679000.0,219190000.0,194396000.0,NaN
Gain On Sale Of Security,-36799000.0,61684000.0,15753000.0,-29830000.0,NaN
Net Non Operating Interest Income Expense,-585932000.0,-488014000.0,-417961000.0,-418535000.0,NaN
Interest Expense Non Operating,598403000.0,496290000.0,425302000.0,426847000.0,NaN
Interest Income Non Operating,12471000.0,8276000.0,7341000.0,8312000.0,NaN
Operating Income,1110043000.0,1046282000.0,901321000.0,788644000.0,NaN
Operating Expense,2012446000.0,1868172000.0,1702981000.0,1601284000.0,NaN
Other Operating Expenses,NaN,NaN,NaN,NaN,162606000.0
Depreciation Amortization Depletion Income Statement,776159000.0,727595000.0,680422000.0,652069000.0,NaN
Depreciation And Amortization In Income Statement,776159000.0,727595000.0,680422000.0,652069000.0,NaN
Selling General And Administration,1236287000.0,1140577000.0,1022559000.0,949215000.0,NaN
Selling And Marketing Expense,363092000.0,300733000.0,262213000.0,231365000.0,NaN
General And Administrative Expense,873195000.0,839844000.0,760346000.0,681802000.0,NaN
Other Gand A,873195000.0,839844000.0,760346000.0,681802000.0,NaN
Gross Profit,3122489000.0,2914454000.0,2604302000.0,2389928000.0,NaN
Cost Of Revenue,2357800000.0,2189120000.0,1887229000.0,1757342000.0,NaN
Total Revenue,5480289000.0,5103574000.0,4491531000.0,4147270000.0,NaN
Operating Revenue,5480289000.0,5103574000.0,4491531000.0,4147270000.0,NaN